@font-face {
    font-family: "RobotoFontRegular";
    src: url("./assets/fonts/Roboto/Roboto-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
.roboto-regular{
    font-family: "RobotoFontRegular";
}

@font-face {
    font-family: "RobotoFontItalic";
    src: url("./assets/fonts/Roboto/Roboto-Italic.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

.roboto-italic{
    font-family: "RobotoFontItalic";
}

*{
    box-sizing: border-box;
    font-family: "RobotoFontRegular", sans-serif;
}

body{
    background-color: aquamarine;
    background-size: cover; 
    max-width: 100%; 
}

h1{
    color: blueviolet;
}

.header-layout{
    display: flex;
    flex-wrap: wrap;
    flex-direction:row;
    align-items:center;
    justify-content: space-around;
    font-size: 1.3em;       
}

.navigation{
    font-family: "RobotoFontItalic";
    font-size: 1.5em;
    color: coral;
}

.main-nav {
    color: rgb(27, 104, 156);
    
}

.general-menu{
    color: rgb(27, 11, 252);
}

h3{
    font-size: 3em;
}

.section-fruits{
    color: rgb(245, 153, 62);
    min-height: 100px;
    width: auto;
}

.section-vegetables{
    color: rgb(7, 105, 48);
    min-height: 100px;
}

.img-fruits, .img-vegetables{
    width: 50%;
}

.type-fruit, .type-vegetables{
    display:grid;
    font-size: 200%;
}

.social{
    width: 48px;
    height: 48px;
    display: flex;
    padding: 1px;
}

@media screen and (max-width:375px){
    body{
        font-size: 1em;
        justify-content:space-around
    }
    .img-header{
        width: 60%;
    }
    .img-header-nav{
        display: none;
    }
}

@media screen and (min-width:375px) and (max-width:768px) {
    .type-fruit, .type-vegetables{
        font-size: 150%;
    }
}

@media screen and (min-width:768px) {
    body{
        justify-content: space-around;
        font-size: 2.5em;
        margin-right: 10px;
    }
    .img-header{
        width: 80%;
    }
    .img-header-nav{
        width: 110%;
    }
}